@import "../../styles/variables.scss";

.twitter-info {
   margin-top: 5px;
   margin-left: 30px;
   position: fixed;
   right: 196px;

   max-width: 350px;
   width: 100%;

   .twitter-search {
      background-color: $search;
      display: flex;
      align-items: center;

      min-width: 100%;
      margin-bottom: 17px;

      border-radius: 999px;

      &:focus {
         background-color: black;
      }

      .twitter-search--icon {
         display: flex;
         svg {
            width: 20px;
            fill: $gray;
            margin-left: 20px;
         }
      }
      input {
         font-size: 15px;
         padding: 12px;
         color: white;
         width: 100%;
         background-color: transparent;
         border: none;
         outline: none;

         &::placeholder {
            font-size: 15px;
            font-weight: 700;
         }
      }
   }
}
