@import "../../styles/variables.scss";

main {
   max-width: 600px;
   width: 100%;
   min-height: 100vh;
   margin-left: 30px;

   border: 1px solid rgb(47, 51, 54);

   .tweets {
      // display: flex;
      flex-direction: column;

      .top-tweets {
         display: flex;
         align-items: center;
         justify-content: space-between;

         font-size: 20px;
         font-weight: 800;
         color: $white;

         padding: 0 17px;

         cursor: pointer;
         height: 58px;

         span {
            svg {
               fill: $twitter;
               width: 25px;
            }
         }
      }

      .tweetar {
         display: flex;
         width: 100%;
         padding: 8px 16px;

         border-top: 1px solid rgb(47, 51, 54);
         border-bottom: 1px solid rgb(47, 51, 54);

         .tweetar-avatar {
            margin-right: 12px;
            img {
               width: 50px;
               height: 50px;
               border-radius: 50%;
            }
         }

         .tweetar-write {
            display: flex;
            flex-direction: column;
            width: 100%;
            .tweetar-input {
               padding: 12px 0;
               input {
                  font-size: 1.3rem;
                  color: $white;
                  width: 100%;

                  border: none;
                  outline: none;
                  background-color: transparent;

                  &::placeholder {
                     color: rgb(105, 107, 109);
                  }
               }
            }
            .tweetar-everyone {
               visibility: hidden;
               opacity: 0;
               display: none;

               font-size: 0.9rem;
               font-family: "Roboto";
               font-weight: 700;
               color: $twitter;

               padding-bottom: 12px;
               width: 100%;
               border-bottom: 1px solid rgb(47, 51, 54);

               > div {
                  display: flex;
                  align-items: center;
                  width: 161px;
                  cursor: pointer;

                  padding: 8px;
                  border-radius: 25px;
                  transition: background-color 0.1s ease-in-out;

                  &:hover {
                     background-color: $twitter-dark-hover;
                  }
                  svg {
                     width: 15px;
                     margin-right: 0.5rem;
                     fill: #1da1f2;
                  }
               }
               &.show {
                  visibility: visible;
                  opacity: 1;
                  display: block;
               }
            }
            .tweetar-options {
               display: flex;
               justify-content: space-between;
               align-items: center;

               .tweetar-options--icons {
                  display: flex;
                  align-items: center;
                  margin-top: 12px;

                  .tweetar-icons {
                     display: flex;
                     align-items: center;
                     padding: 12px;
                     border-radius: 50%;
                     cursor: pointer;

                     &:hover {
                        background-color: $twitter-dark-hover;
                     }
                  }
               }

               .tweetar-options--btns {
                  display: flex;
                  align-items: center;
                  margin-top: 12px;

                  .tweetar-options--btns-more {
                     width: 32px;
                     height: 32px;

                     background-color: transparent;
                     margin-right: 12px;

                     border-radius: 999px;
                     border: 1px solid $twitter;
                     cursor: pointer;
                     transition: background-color 0.2s ease-in-out;

                     &:hover {
                        background-color: $twitter-dark-hover;
                     }

                     svg {
                        width: 16px;
                     }
                  }
                  .tweetar-options--btns-tweet {
                     font-size: 0.95rem;

                     width: 73px;
                     height: 40px;
                     background-color: #0e5079;
                     color: $gray;
                     font-weight: 700;

                     border-radius: 999px;
                     // cursor: not-allowed;
                     border: none;
                     transition: background-color 0.1s ease-in-out;

                     &.allow {
                        background-color: $twitter;
                        color: white;
                        cursor: pointer;
                        &:hover {
                           background-color: rgb(26, 145, 218);
                        }
                     }
                  }
               }

               svg {
                  width: 22px;
                  fill: $twitter;
               }
            }
         }
      }
   }

   .test {
      width: 100%;
      height: 12px;
      background-color: $secondary;
      border-bottom: 1px solid $outline;
   }

   .tweet-posts {
      display: flex;
      flex-direction: column-reverse;
   }

   @media (max-width: 800px) {
      margin-left: 0;
      max-width: 612px;
   }

   @media (max-width: 680px) {
      .tweetar-icons:nth-of-type(3),
      .tweetar-icons:nth-of-type(5) {
         display: none;
         opacity: 0;
         visibility: hidden;
         width: 0;
         height: 0;
         padding: 0px !important; // Não estava conseguindo tirar o paddin, tive que usar o "!important", (eu sei que não é recomendado usa-lo

         svg {
            display: none;
            opacity: 0;
            visibility: hidden;
            width: 0;
            height: 0;
            padding: 0px;
         }
      }
   }
}
